{% if tcp_allow_d is defined and tcp_allow_d|length > 0 %}
{% for ip_item, ports_r in tcp_allow_d.items() %}
{% raw -%}
properties:
  network: $(ref.{{ properties["vpcName"] }}.selfLink)
  priority: 1000
  sourceRanges:   
{% endraw %}
    - {{ ip_item }}
  allowed:
    - IPProtocol: tcp
   ports: {{ ports_r }}
{% endfor %}
{% endif %}
 
{% if udp_allow_d is defined and udp_allow_d|length > 0 %}
{% for ip_item, ports_r in udp_allow_d.items() %}
{% raw -%}
properties:
  network: $(ref.{{ properties["vpcName"] }}.selfLink)
  priority: 1000
  sourceRanges:   
{% endraw %}
    - {{ ip_item }}
  allowed:
    - IPProtocol: udp
   ports: {{ ports_r }}
{% endfor %}
{% endif %}
 
{% if ip_allow_d is defined and ip_allow_d|length > 0 %}
{% for ip_item, ports_r in ip_allow_d.items() %}
{% raw -%}
properties:
  network: $(ref.{{ properties["vpcName"] }}.selfLink)
  priority: 1000
  sourceRanges:   
{% endraw %}
    - {{ ip_item }}
  allowed:
    - IPProtocol: ip
{% endfor %}
{% endif %}

{% if icmp6_allow_d is defined and icmp6_allow_d|length > 0 %}
{% for ip_item, ports_r in icmp6_allow_d.items() %}
{% raw -%}
properties:
  network: $(ref.{{ properties["vpcName"] }}.selfLink)
  priority: 1000
  sourceRanges:   
{% endraw %}
    - {{ ip_item }}
  allowed:
    - IPProtocol: icmp6
{% endfor %}
{% endif %}


{% if icmp_allow_d is defined and icmp_allow_d|length > 0 %}
{% for ip_item, ports_r in icmp_allow_d.items() %}
{% raw -%}
properties:
  network: $(ref.{{ properties["vpcName"] }}.selfLink)
  priority: 1000
  sourceRanges:   
{% endraw %}
    - {{ ip_item }}
  allowed:
    - IPProtocol: icmp
{% endfor %}
{% endif %}